<!-- Grid row -->
<div class="nav-row">

    <!-- Grid column --> 
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar">
    <a class="navbar-brand" href="#"><strong>Navbar</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Opinions</a>
        </li>
      </ul>

      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link"><i class="fa fa-facebook"></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link"><i class="fa fa-twitter"></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link"><i class="fa fa-instagram"></i></a>
        </li>
        </ul>  
        </div>    
      </nav>
    <!-- Grid column -->
  
  </div> 
  <!-- Grid row -->
   
  <!--Carousel Wrapper--> 
  <mdb-carousel [isControls]="true" [animation]="'slide'">
  
    <!--First slide-->
  
    <mdb-carousel-item> 
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide"> 
    </mdb-carousel-item>
  
    <!--/First slide-->
  
    <!--Second slide-->
  
    <mdb-carousel-item> 
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">  
    </mdb-carousel-item>
  
    <!--/Second slide-->
  
    <!--Third slide-->  
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
    </mdb-carousel-item>
  
    <!--/Third slide-->
    <button mat-raised-button class="in-car"> Click </button>
  </mdb-carousel>
  
  <!--/.Carousel Wrapper-->
 
  <router-outlet>
    
  </router-outlet>